<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration>

	 <property name="SyntheticFHIRDataLogging" value="/SyntHIRLog/SyntheticFHIRDataLogging" />   

	  <appender name="FILE-DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${SyntheticFHIRDataLogging}/SyntheticFHIRDataLog.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss, Europe/Oslo} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>${SyntheticFHIRDataLogging}/archived/SyntheticFHIRDataLogging.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>  

	<logger name="com.uit" level="debug" additivity="false">
		 <appender-ref ref="FILE-DEBUG" /> 
		 
	</logger>

	<root level="debug">
		 <appender-ref ref="FILE-DEBUG" /> 
	</root>

</configuration>
